aiofiles==23.2.1
aioredis==2.0.1
anyio==4.0.0
astroid==3.0.0
async-timeout==4.0.3
autopep8==2.0.4
blinker==1.6.3
certifi==2023.7.22
click==8.1.7
dill==0.3.7
gunicorn==21.2.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.18.0
httptools==0.6.0
httpx==0.25.0
hypercorn==0.14.4
hyperframe==6.0.1
idna==3.4
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
lazy-object-proxy==1.9.0
MarkupSafe==2.1.3
mccabe==0.7.0
packaging==23.2
pdfkit==1.0.0
platformdirs==3.11.0
priority==2.0.0
pycodestyle==2.11.0
pylint==3.0.1
python-dotenv==1.0.0
PyYAML==6.0.1
Quart==0.19.3
rfc3986==2.0.0
sniffio==1.3.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.1
typing_extensions==4.8.0
uvicorn==0.23.2
uvloop==0.17.0
watchfiles==0.20.0
websockets==11.0.3
Werkzeug==3.0.3
wrapt==1.15.0
wsproto==1.2.0
xmltodict==0.13.0
