aiofiles==23.2.1
anyio==4.0.0
astroid==3.0.0
async-timeout==4.0.3
autopep8==2.0.4
blinker==1.6.3
certifi==2024.7.4
click==8.1.7
dill==0.3.7
gunicorn==22.0.0
httptools==0.6.0
httpx==0.25.0
lazy-object-proxy==1.9.0
pdfkit==1.0.0
pip-autoremove==0.10.0
pip-chill==1.0.3
pylint==3.0.1
python-dotenv==1.0.0
PyYAML==6.0.1
Quart==0.19.3
redis==5.0.8
rfc3986==2.0.0
terminaltables==3.1.10
toml==0.10.2
tomli==2.0.1
uvicorn==0.23.2
watchfiles==0.20.0
websockets==11.0.3
wrapt==1.15.0
xmltodict==0.13.0