MAILER_ID = 123456789
SRV_TYPE=40
BARCODE_ID=0
BSG_USERNAME="Alice"
BSG_PASSWD="Your BSG Password"
FLASK_SESSION_KEY="Very secret key"
USPS_WEBAPI_USERNAME="USPS Web API Username"
REDIS_HOST="localhost"
TRUSTED_HOST=["172.20.0.1"]